h1 {
color: blue;

}

.icons8-heart { 
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTTE2LjUsM0MxMy42MDUsMywxMiw1LjA5LDEyLDUuMDlTMTAuMzk1LDMsNy41LDNDNC40NjIsMywyLDUuNDYyLDIsOC41YzAsNC4xNzEsNC45MTIsOC4yMTMsNi4yODEsOS40OSBDOS44NTgsMTkuNDYsMTIsMjEuMzUsMTIsMjEuMzVzMi4xNDItMS44OSwzLjcxOS0zLjM2QzE3LjA4OCwxNi43MTMsMjIsMTIuNjcxLDIyLDguNUMyMiw1LjQ2MiwxOS41MzgsMywxNi41LDN6IE0xNC44MTEsMTYuMTEgYy0wLjE3NywwLjE2LTAuMzMxLDAuMjk5LTAuNDU2LDAuNDE2Yy0wLjc1MSwwLjctMS42MzksMS41MDMtMi4zNTUsMi4xNDVjLTAuNzE2LTAuNjQyLTEuNjA1LTEuNDQ2LTIuMzU1LTIuMTQ1IGMtMC4xMjYtMC4xMTctMC4yOC0wLjI1Ny0wLjQ1Ni0wLjQxNkM3Ljc2OSwxNC44MjcsNCwxMS40MTksNCw4LjVDNCw2LjU3LDUuNTcsNSw3LjUsNWMxLjgyNywwLDIuODg2LDEuMjc1LDIuOTE0LDEuMzA4TDEyLDggbDEuNTg2LTEuNjkyQzEzLjU5Niw2LjI5NSwxNC42NzMsNSwxNi41LDVDMTguNDMsNSwyMCw2LjU3LDIwLDguNUMyMCwxMS40MTksMTYuMjMxLDE0LjgyNywxNC44MTEsMTYuMTF6Ij48L3BhdGg+PC9zdmc+') 50% 50% no-repeat;
    background-size: 100%; }

